---
import Main from '@/components/Main.astro';
import MDX from '@/components/MDX.astro';
import Layout from '@/layouts/Layout.astro';
import { Title } from '@/shared/ui/astro';
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

export const getStaticPaths = async () => {
  const posts = (await getCollection('posts')) as CollectionEntry<'posts'>[];
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
};

interface Props {
  post: CollectionEntry<'posts'>;
}


const post = Astro.props.post;
const { title, image } = post.data;
const { Content } = await post.render();
---

<Layout title={title}>
  <Main>
    <Title>{title}</Title>
    <Image
      src={image}
      alt={title}
      width={600}
      height={600 / 1.5}
      class="aspect-thumbnail mb-4 rounded-2xl object-cover shadow-xl"
    />
    <MDX class='!max-w-full'>
      <Content />
    </MDX>
  </Main>
</Layout>
