---
import Main from '@/components/Main.astro';
import Layout from '@/layouts/Layout.astro';
import { PostList } from '@/modules/Post';
import { Title } from '@/shared/ui/astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('posts');
---

<Layout title="Blog | Rhythm Nation">
  <Main>
    <Title>Rhythm Nation Blog</Title>
    <PostList posts={posts} />
  </Main>
</Layout>
