---
import Layout from '@/layouts/Layout.astro';
import { Product, getProducts } from '@/modules/Product';
import type { IProduct } from '@/modules/Product';

export const getStaticPaths = async () => {
  const products = await getProducts();

  return products.map((product) => ({
    params: { id: product.id.toString() },
    props: { product },
  }));
};

interface Props {
  product: IProduct;
}

const { id } = Astro.params;
const { product } = Astro.props;
---

<Layout title={`Product ${id}`}>
  <main class="my-32">
    <Product product={product} />
  </main>
</Layout>
