---
import Layout from '@/layouts/Layout.astro';
import { getProducts, ProductList } from '@/modules/Product';
import { SupermarketIcon } from '@/shared/icons';
import { Title } from '@/shared/ui/astro';

const products = (await getProducts()).filter(
  ({ images }) => images.length > 1
);
---

<Layout title="Products Page">
  <main>
    <Title className="mb-10 flex flex-row items-center gap-5"
      >Products Page <SupermarketIcon class="text-4xl text-accent" /></Title
    >
    <ProductList products={products} />
  </main>
</Layout>
