---
import Layout from '../layouts/Layout.astro';
import { Title } from '../ui/astro';
---

<Layout title="About Page">
  <section class="flex h-screen w-full items-center justify-center">
    <Title>About Page</Title>
  </section>
</Layout>
