---
import Layout from '../layouts/Layout.astro';
import { Link, Title } from '../ui/astro';
---

<Layout title="Index Page">
  <section class="flex h-screen w-full items-center justify-center">
    <Title>
      Welcome to
      <Link target="_blank" href="https://docs.astro.build/en/getting-started/"
        >astro.js</Link
      >!
    </Title>
  </section>
</Layout>
