---
import { AstroIcon } from '@/shared/icons';
import { Link, Title } from '@/shared/ui/astro';
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Index Page">
  <main
    class="h-full flex justify-center items-center flex-col gap-6 text-center"
  >
    <AstroIcon className="text-9xl" />
    <Title>
      Welcome to
      <Link target="_blank" href="https://docs.astro.build/en/getting-started/"
        >astro.js</Link
      >!
    </Title>
  </main>
</Layout>
