---
import Layout from '../layouts/Layout.astro';
import { getProducts, ProductCard } from '../modules/Product';
import { Title } from '../ui/astro';

const products = await getProducts();
---

<Layout title="Products Page">
  <section class="container mx-auto mt-20 px-6">
    <Title className="mb-10">Products Page</Title>
    <ul
      class="tablet:grid-cols-2 laptop:grid-cols-3 desktop:grid-cols-4 large:grid-cols-5 mb-32 grid grid-cols-1 gap-7"
    >
      {
        products.map((product) => (
          <li>
            <ProductCard client:load product={product} />
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
