<main class="mx-auto pt-12 pb-32 mobile:prose prose-sm max-w-5xl prose-headings:text-foreground prose-p:text-foreground/70 prose-strong:text-foreground prose-a:text-accent prose-img:my-0">
  <slot />
</main>