---
import { Chip } from '@/shared/ui/react';

interface Props {
  title: string;
  description: string;
  price: number;
  category: {
    name: string;
  };
}

const { title, description, price, category } = Astro.props;
---

<div
  class="absolute bottom-0 left-0 right-0 flex min-h-48 flex-col justify-between bg-secondary px-4 py-4 duration-500"
>
  <div>
    <p class="font-bold">{title}</p>
    <div
      class="my-3 max-h-10 overflow-hidden duration-500 group-hover:max-h-48"
    >
      <p class="line-clamp-2 min-h-48 text-[13px] group-hover:line-clamp-none">
        {description}
      </p>
    </div>
  </div>
  <div class="flex flex-row justify-between">
    <p class="text-green-500">{price}$</p>
    <Chip className="lowercase">#{category.name}</Chip>
  </div>
</div>
